$green: #3AC279;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 5.3em;
    margin: 0;
    font-weight: 400;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2.2em;
    margin: 0;
}

div#header {
    text-align: center;
    color: white;
    background-color: $green;
    
    height: 100%;
    width: 100%;
    
    position: relative;
    
    div#mezzo-and-logo {
        padding-top: 8%;
        padding-bottom: 1%;
    }
    
    h1 {
        display: inline-block;
        margin-left: 2%;
    }

    img#logo {
        height: 4.5em;
    }
    
    img#app-store {
        height: 3.5em;
        padding-top: 2%;
    }
    
    img#screenshot {
        position: absolute;
        left: 0; right: 0;
        margin: 0 auto;
        bottom: 0%;
    }
}